[Desktop Entry]
Name=Codex Command
Comment=FCV CC-01 operational Plasma shell theme
X-KDE-PluginInfo-Author=AlphaCodex
X-KDE-PluginInfo-Name=CodexCommand
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-License=GPL-3.0-or-later
X-KDE-PluginInfo-Category=Plasma Theme
